* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: auto;
  height: auto;
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.navbar img {
  width: 100px;
  cursor: pointer;
}

.navbar img:hover {
  transform: scale(1.1);
}

header {
  width: 100%;
  padding: 2rem 2rem;
  background-image: url("https://res.cloudinary.com/dny4fdht3/image/upload/v1655769671/bg-hero-mobile_mkpzdp.svg");
  background-color: hsl(193, 100%, 96%);
}

.nav {
  background-color: white;
  border: none;
  height: 30px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  position: relative;
  font-size: 1.6rem;
  color: hsl(192, 100%, 9%);
  text-align: center;
  cursor: pointer;
}

.nav:hover {
  color: hsla(192, 100%, 9%, 0.433);
  transition: color 0.3s;
  transform: scale(1.1);
}

.hero,
.hero article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-header,
.hero-text {
  text-align: center;
  color: hsl(192, 100%, 9%);
}

.hero-header {
  font-weight: 700;
  padding: 50px 50px 20px 50px;
  line-height: 1.5;
}

.hero-text {
  padding: 0px 10px;
}

.hero-image {
  width: 300px;
  margin-top: 70px;
}

.hero-button {
  border: none;
  color: white;
  background-color: hsl(322, 100%, 66%);
  padding: 10px 20px;
  width: 65%;
  border-radius: 19px;
  margin-top: 30px;
  font-weight: 700;
  cursor: pointer;
}

.hero-button:hover,
.action-button:hover {
  background-color: hsla(322, 100%, 66%, 0.573);
  transition: background-color 0.3s;
  transform: scale(1.05);
}

.card-image {
  width: 250px;
}

.cards-section {
  background-color: white;
  padding: 2rem 2rem 10rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  height: auto;
  width: 100%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  border-radius: 10px;
}

.cards:hover,
.action-card:hover {
  transform: scale(1.05);
}

.card-image {
  margin: 50px;
}

.card-header {
  margin: 20px 0px;
}

.card-text {
  margin-bottom: 50px;
  color: hsl(208, 11%, 55%);
}

.action-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  padding: 40px 10px;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  position: relative;
  top: -100px;
}
.action-card h2 {
  font-size: 1.8rem;
  color: hsl(192, 100%, 9%);
}

.action-button {
  border: none;
  background-color: hsl(322, 100%, 66%);
  color: hsl(193, 100%, 96%);
  width: 60%;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
  font-weight: 700;
  cursor: pointer;
}

footer {
  background-color: hsl(192, 100%, 9%);
  position: absolute;
  color: white;
}

.footer-icon {
  width: 200px;
  margin-left: 20px;
  cursor: pointer;
  z-index: 1;
}

.footer-item {
  display: flex;
  align-items: flex-start;
  margin: 30px 20px;
}

.footer-item img {
  margin: 5px 20px 0px 0px;
}

footer ul {
  margin: 20px;
  list-style: none;
}

footer ul:nth-of-type(odd) {
  margin-top: 60px;
}

footer ul a li,
.footer-list a {
  text-decoration: none;
  color: white;
  margin-top: 20px;
}

.footer-list a:hover {
  text-decoration: underline;
  transition: text-decoration 0.3s;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 10px;
}

.fa-brands {
  border: 1px solid white;
  border-radius: 100%;
  text-align: center;
  margin: 10px;
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  cursor: pointer;
}

.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-instagram:hover {
  color: hsl(322, 100%, 66%);
  transition: color 0.3s;
  transform: scale(1.1);
}

footer small {
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-top: -40px;
  margin-bottom: 50px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: -40px;
}

@media screen and (min-width: 1000px) {
 header {
    background-image: url("https://res.cloudinary.com/dny4fdht3/image/upload/v1655769671/bg-hero-desktop_yi9u5l.svg");
  }
  .navbar {
    width: 90%;
    margin: auto;
  }
  .hero {
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
  }
  .hero article {
    align-items: flex-start;
    width: 50%;
  }

  .hero article,
  .hero img {
    margin-bottom: 30px;
    margin-top: 40px;
  }
  .hero-text,
  .hero-header {
    text-align: start;
  }
  .hero-header {
    padding-left: 10px;
  }
  .hero-button {
    margin-left: 10px;
    width: 50%;
  }
  .hero-image {
    width: 50%;
  }
  .cards-section {
    margin-top: 50px;
  }
  .cards {
    flex-direction: row;
    margin: 10px 0px;
    width: 90%;
  }
  .cards:nth-of-type(odd) {
    flex-direction: row-reverse;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .card-header,
  .card-text {
    text-align: start;
  }
  .action-card {
    width: 50%;
  }
  .footer-section {
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 30px;
  }
  .footer-items {
    width: 40%;
  }
  .footer-item {
    margin: 20px;
  }
  .footer-icon {
    margin-left: 60px;
    margin-top: -70px;
  }
  footer ul:nth-of-type(odd) {
    margin-top: -5px;
  }
  .footer-list {
    margin-top: -5px;
  }
  footer small {
    display: flex;
    justify-content: end;
    margin: 0px 50px 50px 0px;
  }
  .footer-links {
    margin-top: -50px;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    width: 200px;
    height: 40px;
  }
  .navbar img {
    width: 150px;
  }
  .cards {
    justify-content: space-around;
    padding: auto 30px;
    font-size: 18px;
  }
  .card-content {
    width: 40%;
  }
  .card-image {
    margin-left: 50px;
  }
  .hero article {
    width: 40%;
  }
  .hero {
    justify-content: space-between;
    padding: 10px 50px;
  }
  .hero-header {
    font-size: 40px;
  }
  .hero-text {
    font-size: 20px;
    margin-top: 10px;
  }
  .hero-button {
    width: 200px;
    height: 45px;
    padding: 0px 10px;
  }
}
